# rc file for the activity
# Must have one section called 'default'
# Put all the options in this section.
# Format must follow the Python ConfigParser format

[DEFAULT]

# autolevel_up means that the activity will suggest a level higher
# when the user are performing better than average
# Possible values 0 or 1
autolevel_up = 0

# Value indicates when the level up suggestion is done.
# In the case of a one level activity a value of 5 means after 5 completed levels.
autolevel_value = 3

# Colors to use for the begin text screen.
begin_fgcol = (255,250,205)
begin_bgcol = (100,149,237)
suggest_fgcol = (20,200,10)
# if you have theme support in the activity you could add theme sections
[seniorplay]
begin_bgcol = 'trans'
[childsplay]

[braintrainer]
