@charset "UTF-8";
/* CSS Document */

html, body {
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: #f4f8ec;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:17px;
	color:#103867;
}
p {
	padding:0;
	margin:0;}

h1 {
	font-size:1.4em;
	padding:0;
	margin:0;
	font-weight:bold;
	margin-bottom:17px;
}

a:link {color:#ce5c2d; text-decoration:underline; }
a:visited {color:#ce5c2d; text-decoration:underline;}
a:hover {color:#f44d07; text-decoration:underline;}
a:active {color:#f44d07; text-decoration:underline;}

#container-prev {
	background-image:url(../images/background.jpg);
	background-repeat:repeat-x;
	width:100%;
	min-height:100%;
}

#container {
	background-image:url(../images/background.jpg);
	background-repeat:repeat-x;
	width:100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

#center {
	width:940px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	position:absolute;
	width:940px;
	height:250px;
}

#languages {
	position:absolute;
	width:940px;
	height:50px;
	}
	
#languages_txt{
	z-index:100;
	text-align:right;
	position:absolute;
	margin-top:10px;
	width:880px;
	font-size:0.8em;
	color:#103867;
	cursor:default;
	text-transform:uppercase;
}

#button_download_play {
	z-index:200;
	position:absolute;
	margin-left:-17px;
	margin-top:240px;
}

#download_txt {
	margin-left:18px;
	width:200px;
	margin-top:-130px;
	margin-bottom:10px;
	font-size:0.85em;
	line-height:1.2em;
}

#button_inschrijven {
	z-index:200;
	position:absolute;
	margin-left:750px;
	margin-top:390px;
	width:135px;
	top: -103px;
}

#txt_inschrijven {
	width:135px;
	margin-top:21px;
	font-size:0.85em;
	line-height:1.2em;
}

#breadcrumb {
	position:absolute;
	margin-left:223px;
	margin-top:255px;
	z-index:400;
	font-size:0.85em;
	color:#7d91a8;
}

#content {
width:100%;
	padding-top:290px;
	padding-left:223px;
}

#txt {
	width:500px;
	margin-bottom:30px;
}


#footer, #push {
	height: 40px; /* .push must be the same height as .footer */
	width:940px;
	margin-left:auto;
	margin-right:auto;
}


#menu_holder {
	z-index:100;
	text-align:right;
	position:absolute;
	margin-top:20px;
	width:187px;
	font-weight:bold;
	font-size:1.1em;
	color:#C00;
	cursor:default;
	top: 29px;
}

#divider {
	background-image:url(../images/divider.png);
	width:187px;
	height:7px;
}


.current{
	color:#C00;
}

.top{
	color:#ce5c2d;
}

#menu a:link {color:#103867; text-decoration:none; }
#menu a:visited {color:#103867; text-decoration:none;}
#menu a:hover {color:#C00; text-decoration:none;}
#menu a:active {color:#103867; text-decoration:none;}

#languages_txt a:link {color:#103867; text-decoration:none; }
#languages_txt a:visited {color:#103867; text-decoration:none;}
#languages_txt a:hover {color:#fff; text-decoration:none;}
#languages_txt a:active {color:#fff; text-decoration:none;}
