# rc file for the activity
# Must have one section called 'default'
# Put all the options in this section.
# Format must follow the Python ConfigParser format

[DEFAULT]

# autolevel_up means that the activity will suggest a level higher
# when the user are performing better than average
# Possible values 0 or 1
autolevel_up = 1

# Value indicates when the level up suggestion is done.
# In the case of the quiz activity a value of 5 means after 5 correct answers.
autolevel_value = 3

# number of exercises in one level
exercises = 3

# Number od ms to wait between puzzles.
wait_value = 3000


# Put any theme specific options in the proper sections.
# Any option missing here will be used from the DEFAULT section
[seniorplay]

[braintrainer]

[childsplay]
